html, body {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    background: #0B0C10;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

#space {
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}

#canvas{
    background-color: #19202a;
    border:2px solid #073a3a;
    border-radius: 25px;
}

.size{
    margin-left: 25px; 
}

.text{
    color:  #049898;
     display: flex;

}

.Text{
    margin-top: 70px;
    margin-left: 30px;
    font-size: x-large;
    color:  #049898;
}

.forbutton{
    display: flex;
    flex-direction: column;
  background-color: #0B0C10;
  border-radius: 25px;
}

.butt{
    margin-top: 20px;
    margin-left: 100px;
    margin-right:3%;
    height:50px;
    width:180px;
    border-color:  #1f7e7e;
    background-color:  #0B0C10;
    border-radius: 10px;
    color: #049898;
    font-size: large;
}

.range{
    margin-top: 15px;
    margin-left: 30px;
    margin-right:3%;
    width:300px;
    background-color: #049898;
}

#rangeValue{
    margin-right:3%;
    font-size:x-large;
    color: #049898;
}

.butt:hover {
    background-color: #127b79;
}

.float-container {
    /* padding-top: 150px; */
    display: flex;

    
    margin-left: 230px;
}

.float-child1{
    display: flex;
    
}

.float-child2{
    display: flex;
    align-items: flex-start;

    /* float: right;
    margin-right:100px; */
}

.sidenav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0B0C10;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:  #049898;
    display: block;
}

.sidenav a:hover {
    color: #59eae8;
}

.main {
    display: flex;
    justify-content: flex-start;
    margin-left: 190px; 
    font-size: 28px; 
    padding: 0px 10px;
}

