html, body {
    height: 100%;
}

body {
    margin: 0;

    background: linear-gradient(-45deg, #2980B9, #6DD5FA, #FFFFFF);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

}
#canvas{
  background-color:#b5e2e8;
  border: 2px solid black;
}
.forbutton{
  width: 440px;
  height: 730px;
  background-color: #b5e2e8;
  border:2px solid black;
  }

.float-container {
    margin-left: 230px;
}
.butt:hover {
    background-color: #6DD5FA;
}
.float-child1{
    float: left;
}
.float-child2{
    float: right;
    margin-right:100px;
}
.butt{
  margin-top: 200px;
  margin-left: 30px;
  margin-right:3%;
  height:50px;
  width:200px;
  background-color: #3f85d4;
}
.sidenav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 190px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
